/*--------------------------------------------------

Advocate - CAT
Theme Styles [theme.css]

Joe Morrow <joe@joinadvocate.com>
9/17/2015

Copyright @ 2015 by Advocate

--------------------------------------------------*/

/* @group Global */
/* @group Layout */
body {
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
}

header,
#main,
footer {
	clear: both;
	display: block;
	float: left;
	max-width: 960px;
	width: 100%;
}
/* @end Layout */

/* @group Navigation */
nav ul,
nav ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

nav ul li a {
	padding-left: 1em;
}

nav ul li:first-child a {
	padding-left: 0;
}

header nav,
footer nav {
	display: block;
	float: right;
	padding: 1em;
}
/* @end Navigation */

/* @group Appearance */
body {
	background: #eee;
}

a:link,
a:visited {
	color: #333;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
	text-decoration: underline;
}
/* @end Appearance */

/* @group Header */
header {
	background: #eee;
	color: #666;
	position: fixed;
	top: 0;
}

header a:link,
header a:visited {
	color: #666;
}

header a:hover,
header a:active {
	color: #666;
}

header #logo {
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: 1em;
}
/* @end Header */

/* @group Main */
#main {
	margin-top: 4em;
	margin-bottom: 4em;
}
/* @end Main */

/* @group Footer */
footer {
	background: #fff;
	bottom: 0px;
	color: #aaa;
	position: fixed;
}

footer a:link,
footer a:visited {
	color: #aaa;
}

footer a:hover,
footer a:active {
	color: #aaa;
}

footer p {
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: 1em;
}
/* @end Footer */

/* @group Forms */
label:not(.visible) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

fieldset {
	width: 20em;
	margin: 2em auto 4em auto;
}

fieldset:last-child {
	margin-bottom: 2em;
}

label.visible,
input,
select,
textarea,
button {
	display: block;
	clear: both;
}

input,
select,
textarea,
button.location {
	background: none;
	border: 0;
	border-bottom: 1px solid #666;
	color: #666;
	padding: 0;
	width: 20em;
}

textarea {
	border: 1px solid #666;
	height: 5em;
	resize: none;
}

::-webkit-input-placeholder,
:-moz-placeholder, /* Firefox 18- */
::-moz-placeholder,  /* Firefox 19+ */
:-ms-input-placeholder {  
   color: #666;  
}

button,
a.button {
	padding: 0.5em;
	border: 0;
	border-radius: 0.25em;
	background: #666;
	color: #fff;
}

button.current {
	background: transparent;
	border-bottom: 1px solid #666;
	border-radius: 0;
	float: left;
	padding: 0;
	padding-right: 1em;
	width: 10em;

}

.home button.current,
.results button.current {
	background: #fff;
	border: none;
}

button.current.fpo {
	width: auto;
}

button.current.fpo img {
	height: 40px;
	width: 40px;
}

button.current + input {
	clear: none;
	height: 40px;
	width: 16em;
}

.home button.current + input,
.results button.current + input {
	background: #fff;
	border: none;
}

button[type="submit"] {
	float: left;
}

button[type="reset"] {
	background: transparent;
	color: #666;
	clear: none;
}
/* @end Forms */
/* @end Global */

/* @group Intro */
#intro {
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	width: 50%;
}

#main form {
	background: #ddd;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
	width: 50%;
}
/* @end Intro */

/* @group Results */

#the-map.fpo {
	height: 10em;
	width: 100%;
	background: #ddd;
}

#main.results form {
	background: #fff;
	left: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	top: -9em;
	width: 20em;
}

#main.results form fieldset {
	background: #fff;
	margin: 0;
	padding: 0.5em;
}

#main.results form label.visible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#main.results #join,
#main.results #results {
	width: 80%;
	margin: 0 auto;
	overflow: auto;
}

#main.results #join {
	margin-bottom: 2em;
}

#main.results #join p {
	float: left;
	margin: 0;
	padding-top: 0.5em;
}

#main.results #join a.button {
	float: right;
	display: block;
}

#results select.filter {
	border: none;
	width: auto;
}

.division {
	border-top: 1px solid #333;
	margin-top: 1em;
}

.division ul,
.division li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.official {
	margin-bottom: 1em;
	overflow: auto;
}

li.official > a {
	display: block;
	float: left;
	text-decoration: none;
	width: 66%;
}

li.official img.u-photo {
	float: left;
	height: 100px;
	margin-right: 1em;
	width: 100px;
}

li.official h4.p-name {
	font-size: 1.2em;
	margin: 0;
}

li.official p.p-role {
	color: #999;
	margin: 0;
}

li.official ul.actions {
	float: right;
	margin: 30px 0;
	padding: 0;
	text-align: right;
}

li.official ul.actions li {
	display: inline;
	margin-left: 1em;
}

li.official ul.actions li:first-child {
	margin-left: 0;
}

li.official ul.actions li img {
	width: 40px;
	height: 40px;
}

/* My Comment */

/* @end Results */