/*--------------------------------------------------

Advocate - CAT
Theme Styles [theme.css]

Joe Morrow <joe@joinadvocate.com>
9/17/2015

Copyright @ 2015 by Advocate

--------------------------------------------------*/

/*

	Primary Colors

Primary Accent:		#FD4848
Black:				#000
Headlines:			#3C3C3C
Copy:				#6F6F6F
Tertiary Copy:		#A9A9A9
White:				#FFF
Stroke 1:			#DEDEDE
Stroke 2:			#E2E2E2

	Backgrounds

Neutral Gray:		#F4F4F4
Mid Cool Gray:		#E6F1F7
Light Cool Gray:	#F5F9FC
Mid Warm Gray:		#FFFEF4
Ligh Warm Gray:		#FFFFFB

	Supporting Colors

Teal:				#48B7C8
Teal Blue:			#8DCADD
Light Blue:			#9EDBED
Yellow:				#FEE599

*/


/* @group Font Import */
/* For testing, turning off live loads */
@import url(vendor/fonts.css);
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Source+Serif+Pro:400,600,700);
*/
/* @end Font Import */

/* @group Global */
/* @group Layout */
body {
	height: 100%;
/*
	margin: 0 auto;
	max-width: 960px;
*/	
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	color: #6F6F6F;
}

header,
#main,
footer {
	clear: both;
	display: block;
/*
	float: left;
	max-width: 960px;
*/
	width: 100%;

/*
	overflow: auto;
	background: #f00 !important;
*/
}

header .container,
#main,
footer .container {
	margin: 0 auto;
	max-width: 1150px;
	min-width: 720px;
/*
	background: #0f0  !important;
*/
}


#main {

	margin-bottom: 63px;
	overflow: auto;
}

/* @end Layout */

/* @group Navigation */
nav ul,
nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

/*
nav ul li a {
*/
nav ul li {
	padding-left: 22px;
}

/*
nav ul li:first-child a :not(.button) {
	padding-left: 0;
}
*/

header nav,
footer nav {
	display: block;
	float: right;
	padding: 1em;
	
	padding: 0;
}
/* @end Navigation */

/* @group Appearance */
body.home {
	background: #E5E9EC url(../img/background_1600x1200.jpg) no-repeat top center;
	background-size: 100% auto;
}

h1 {
	color: #4A4A4A;
	font-size: 36px;
	font-weight: bold;
}

h2 {
	color: #4A4A4A;
	font-size: 30px;
	font-weight: bold;
}

h3 {
	color: #4A4A4A;
	font-size: 24px;
	font-weight: bold;
}

h4 {
	color: #4A4A4A;
	font-size: 20px;
	font-weight: bold;
}

h5 {
	color: #4A4A4A;
	font-size: 16px;
	font-weight: bold;
}

h6 {
	color: #4A4A4A;
	font-size: 16px
}

a:link,
a:visited {
	color: #6A6A6A;
	text-decoration: none;
}

a:hover,
a:active {
	color: #8C8C8C;
	text-decoration: none;
}

a.primary:link,
a.primary:visited {
	color: #FD4848;
	text-decoration: underline;
}

a.primary:hover,
a.primary:active {
	color: #FF637E;
	text-decoration: underline;
}

strong a:link,
a.strong:link,
strong a:visited,
a.strong:visited {
	color: #6A6A6A;
	font-weight: bold;
	text-decoration: none;
}

strong a:hover,
a.strong:hover,
strong a:active,
a.strong:active {
	color: #8C8C8C;
	font-weight: bold;
	text-decoration: none;
}

address {
	font-style: normal;
}
/* @end Appearance */

/* @group Header */
header {
	background: #fff;
	border-bottom: 1px solid #E2E2E2;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

	position: fixed;

	top: 0;
	z-index: 9;



	padding: 18px 0;
}

.home header {
	background: transparent;
	border: none;
	box-shadow: none;

	position: static;
	padding: 44px 0;
}

header a:link,
header a:visited {
	color: #666;
}

header a:hover,
header a:active {
	color: #666;
}

header nav {
	padding-top: 2px;
	font-size: 16px;
}

header #logo {
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

header button,
header a.button {
	font-size: 14px;
	font-weight: 600;
	padding: 6px 40px;
	margin-left: 3px;
}

.home header button,
.home header a.button {
	padding: 10px 57px;
}

/* @end Header */

/* @group Main */
.home #main {
/*
	margin-top: 112px;
*/
	margin-bottom: 64px;
}
/* @end Main */

/* @group Footer */
footer {
	background: #fff;
	border-top: 1px solid #E5E5E5;
	bottom: 0px;
	color: #A9A9A9;
	font-size: 12px;
	padding: 21px 0;
	position: fixed;
}

/*
footer a:link,
footer a:visited {
	color: #aaa;
}

footer a:hover,
footer a:active {
	color: #aaa;
}
*/

footer p {
	clear: both;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

footer nav {
	font-size: 14px;
}

footer nav .contact {
	font-weight: 600;
}
/* @end Footer */

/* @group Forms */
label:not(.visible) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

fieldset {
	margin: 2em auto 4em auto;
	width: 20em;

	margin: 0 auto;
	width: 525px;
}

fieldset:last-child {
	margin-bottom: 2em;
}

label.visible,
input,
select,
textarea,
button {
	clear: both;
	display: block;
}

input,
select,
textarea,
button.location {
	background: none;
/*
	border: 0;
	border-bottom: 1px solid #666;
	color: #666;
*/
	padding: 0;
	width: 20em;

	letter-spacing: 0.44px;
	line-height: 22px;
	font-size: 16px;
	color: #A9A9A9;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
	width: 525px;
}

button.location.active {
	background-position: top left;
}

input.current.active::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	opacity: 1;
}

input.current.active:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 1;
}

input.current.active::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 1;
}

input.current.active:-ms-input-placeholder { /* Internet Explorer 10-11 */
	opacity: 1;
}

/*
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: #666;  
}
*/

button,
a.button {
	background: #666;
	border: 0;
	border-radius: 2px;
	color: #fff;
	padding: 10px 40px;
	text-align: center;
}

button.primary,
a.button.primary {
	background: #FD4848;
	color: #FFF;
	text-decoration: none;
}

a.button.primary:link,
a.button.primary:visited {
	background: #FD4848;
	text-decoration: none;
}

button.primary:hover,
a.button.primary:hover {
	background: #FF637E;
	text-decoration: none;
}

button.primary:active,
a.button.primary:active {
	background: #EC364B;
	text-decoration: none;
}

button.current {
	background: transparent;
	border-bottom: 1px solid #666;
	border-radius: 0;
	float: left;
	padding: 0;
	padding-right: 1em;
	width: 10em;
}

.home button.current,
.results button.current {
	background: #fff url(../img/location-icon@2x.png) no-repeat bottom left;
	border: none;
	height: 48px;
	width: 48px;
	display: block;

	height: 50px;
	width: 50px;
	background-size: 50px 100px;
}

.home button.current.active,
.results button.current.active {
	background-position: top left;
}

.modal button.current {
	border-bottom: 1px solid #666;
}

button.current.fpo {
	width: auto;
}

button.current.fpo img {
	height: 40px;
	width: 40px;
}

button.current + input {
	clear: none;
	height: 48px;
	width: 16em;

/*
	height: 50px;
*/
	width: 425px;
}

.home button.current + input,
.results button.current + input {
	background: #fff;
	border: none;
}

.results button.current + input {
	height: 50px;
}

/*
.modal button.current + input {
	border-bottom: 1px solid #666;
}
*/

button[type="submit"] {
	float: left;
	margin-right: 2em;
}

button[type="reset"] {
	background: transparent;
	clear: none;
	color: #666;
}
/* @end Forms */
/* @group Loading */
#loading {
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

#loading .overlay {
	background: #fff url(../img/ajax-loader.gif) no-repeat 50% 50%;
	border-radius: 0.5em;
	height: 5em;
	left: 50%;
	margin: 0;
	margin-right: -50%;
	padding: 1em;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 5em;
}
/* @end Loading */

/* @group Modal */
.modal {
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.modal .container {
	background: #fff;
	border-radius: 0.5em;
    box-shadow: 0 2px 2px #333;
    left: 50%;
	margin: 0;
	margin-right: -50%;
	padding: 2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal header {
	background: transparent;
	float: none;
	left: auto;
	overflow: auto;
	padding: 0 0 2em 3em;
	position: static;
	top: auto;
	width: auto;
	z-index: auto;
}

.modal h1 {
	display: block;
	float: left;
	font-size: 1.5em;
	margin: 0;
}

.modal a.close {
	display: block;
	float: right;
}

.modal form {
	clear: both;
	display: block;
	margin: 0 3em;
}
/* @end Modal */
/* @end Global */

/* @group Intro */
#intro {
	margin: 2em auto;
	padding: 1em;
	text-align: center;
/*
	width: 50%;
*/

	margin: 140px auto 22px auto;
	font-size: 22px;
	line-height: 28px;
	color: #3C3C3C;

}

#intro h1 {
	font-size: 80px;
	font-weight: 700;
	line-height: 90px;
	letter-spacing: -3px;
	margin: 0 0 22px 0;
}

#intro h2 {
	color: #48B7C8;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	margin: 36px 0 0 0;
}

#intro p {
	text-align: center;
	line-height: 28px;
}

#main form {
	text-align: center;
}

#main form.home fieldset {
	background: rgba(105,105,105,0.20);
	padding: 12px;
	border-radius: 12px;
	margin: 26px auto;
	width: 525px;
}

#main form.home label {
	color: #6F6F6F;
	font-size: 18px;
	line-height: 22px;
	character-spacing: 0.5px;
	text-align: center;
}

#main form button {
	width: 50px;
	height: 50px;
}

#main form button,
#main form input {
	float: left;
	clear: none;
	display: block;
	border-radius: 0;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
/*
	height: 50px;
*/
	padding: 0;
	margin: 0;
}

#main form.home fieldset > :first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #E2E2E2;
/*
	width: 50px;
	height: 50px;
*/
}

#main form.home fieldset > :last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
/*
	width: 50px;
	height: 50px;
*/
}	


/* @end Intro */

/* @group Results */
/*
header {
	box-shadow: none !important;
}
*/

#map.fpo {
	background: #efe;
	height: 300px;
	width: 100%;
	border-bottom: 2px solid #F34B3C;
	margin-top: 60px;
}

.results aside.location {
	margin: 0 auto;
	max-width: 1150px;
	min-width: 720px;
	display: block;
/*
	text-align: left;
	float: left;
	background: #0f0;
}
.results form#loc {
	background: #fff;
	margin: 0;
	padding: 0;

	left: 0;
*/
	position: relative;
	top: -232px;
}

.results aside.location form {
	float: left;
}
.results aside.location form fieldset {
/*
	background: #fff;
	margin: 0;
	padding: 0.5em;
*/

	border-radius: 2px;
	border: 1px solid #E2E2E2;


	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

	width: 300px;
}

.results aside.location form input,
.results aside.location form button {
	border: none;
}

.results aside.location form button.current + input {
	width: 250px;
}
/*
#main.results form label.visible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
*/


#map {
	margin-bottom: -42px;
	
}

/*
aside#joinPromo,
*/
#main.results #results {
/*
	margin: 0 auto;
*/
	overflow: auto;
	width: 80%;


	width: 723px;

	float: left;
}

#results h1 {
	font-weight: 400;
	font-size: 22px;
	width: 550px;
	float: left;
	margin: 0;
	line-height: 30px;
	margin-bottom: 20px;
}

#results h1 span {
	font-weight: 700;
}

#results > nav {
	float: right;
/*
	margin-top: 16px;
*/
	line-height: 38px;

}

#results > nav li:last-child {
	padding-right: 24px;
}

aside#signUpPromo {
	width: 370px;
	float: right;
	display: block;

	margin: 50px 2px 0 0;
	width: 304px;
	padding: 30px 32px 50px 32px;
	border: 1px solid #E2E2E2;
}

aside#signUpPromo h2 {
	margin-top: 0;
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;
}

aside#signUpPromo p {
	font-size: 16px;
	line-height: 24px;
	color: #6F6F6F;
	margin-bottom: 44px;
}

aside#signUpPromo button,
aside#signUpPromo a.button {
	padding: 14px 64px;
}

/*
aside#joinPromo {
	margin-bottom: 2em;
}

aside#joinPromo p {
	float: left;
	margin: 0;
	padding-top: 0.5em;
}

aside#joinPromo a.button {
	display: block;
	float: right;
}

#results select.filter {
	border: none;
	width: auto;
}
*/

#results section {
	clear: both;
	float: left;

	width: 683px;
/*
	padding: 20px;
*/
	width: 721px;
}

.division {
	border-top: 2px solid #A9A9A9;
	border-right: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
}

.division h3 {
	margin: 14px 20px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	text-transform: capitalize;
	
}

.division ul,
.division li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.official {
	margin-bottom: 1em;
	overflow: auto;


	border-top: 1px solid #E2E2E2;
	margin: 0;
	padding: 22px;
}

li.official > a {
	display: block;
	float: left;
	text-decoration: none;
	width: 66%;
}

div.circle {
	background: transparent /*url(../img/fpo-official.png)*/ no-repeat top left;
	background-size: cover;
/*
	border: 1px solid #D8D8D8;
*/
	border-radius: 50%;
	background-color: #D8D8D8;

}

li.official .u-photo {
	float: left;
/*
	margin-right: 1em;
*/
	height: 60px;
	width: 60px;

	margin-right: 32px;
}

li.official h4.p-name {
	font-size: 1.2em;
	margin: 0;

	color: #3C3C3C;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;

}

li.official p.p-role {
/*
	color: #999;
*/
	color: #6F6F6F;
	margin: 0;
	line-height: 20px;
}

ul.actions {
	float: right;
	margin: 30px 0;
	padding: 0;
	text-align: right;
	
	margin: 10px 0 0 0;
}

ul.actions li {
	display: inline;
/*
	margin-left: 1em;
	margin: 0;
}

ul.actions li:first-child {
	margin-left: 0;
*/
}

ul.actions li a {
	background: transparent /*url(../img/fpo-official.png)*/ no-repeat bottom left;
	background-size: 40px 120px;
	height: 40px;
	width: 40px;
	display: block;
	clear: none;
	float: left;


	margin: 0 25px 0 15px;

}

ul.actions li a.view {
	background-image: url(../img/view-icon.png);
}

ul.actions li a.invite {
	background-image: url(../img/invite-icon.png);
}

ul.actions li a:link,
ul.actions li a:visited {
	background-position: bottom left;
}

ul.actions li a:hover {
	background-position: top left;
}

ul.actions li a:active {
	background-position: middle left;
}
/* @end Results */


/* @group Detail */
#main.detail {
	margin-top: 10em;
}

#main.detail > * {
	margin: 0 auto;
	overflow: auto;
	width: 80%;
}

#main.detail #address {
	background: #fff;
	border: 1px solid #ccc;
}

#main.detail address > * {
	margin: 1em auto 0 auto;
	width: 60%;
}

#main.detail address .u-photo {
	display: block;
	float: left;
	margin: 0 1em 0 20px;
	height: 100px;
	width: 100px;
}

#main.detail address p.p-org span {
	display: block;
}

#main.detail address dt {
	color: #999;
	display: block;
	float: left;
	margin: 0 0 1em 0;
}

#main.detail address dd {
	margin: 0 0 1em 5em;
}

dd.h-adr span {
	display: block;
	text-transform: capitalize;
}

dd.h-adr span.p-locality,
dd.h-adr span.p-region,
dd.h-adr span.p-postal-code {
	display: inline;
}

ul.channels {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}

ul.channels li {
	display: inline;
	margin-left: 1em;
}

ul.channels li:first-child {
	margin-left: 0;
}

ul.channels li img {
	height: 40px;
	width: 40px;
}

/* @group Asides */
#main.detail aside {
	margin: 2em auto;
	overflow: auto;
	width: 60%;
}

#main.detail aside h2 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

#main.detail aside#invite h2 {
	float: left;
	margin: 0;
	padding-top: 0.5em;
}

#main.detail aside#coming-soon h2 {
	text-transform: uppercase;
}

#main.detail aside p {
	color: #999;
	margin-top: 0;
}

#main.detail #invite a.button {
	display: block;
	float: right;
	width: 5em;
}

#main.detail ul#actions {
	background: #ccc;
	float: none;
	margin-bottom: 0;
	overflow: auto;
	padding: 0.5em 0;
	text-align: left;
}

#main.detail ul#actions li {
	padding-left: 0;
}

#main.detail ul#actions li:first-child {
	padding: 1em 2.5em 1em 4em;
}

#main.detail ul#actions li img {
	margin-right: 0.5em;
}

#main.detail aside#joinPromo {
	background: #aaa;
	margin: 1em auto;
	overflow: auto;
	padding: 1em 0;
	width: 80%;
}

#main.detail #joinPromo p {
	color: #000;
}

#main.detail aside#joinPromo > :first-child {
	margin-left: 4em;
}

#main.detail aside#joinPromo > :last-child {
	margin-right: 4em;
}
/* @end Asides */

/* @group Votes */
#main.detail #votes {
	border: 1px solid #ccc;
	font-size: 0.8em;
}

#main.detail #votes h2 {
	font-size: 1em;
	margin: 2em 5em;
}

#main.detail #votes dl.votes {
	margin: 0 5em;
}
#main.detail #votes dt.vote-date {
	color: #999;
	border-top: 1px solid #aaa;
	padding: 1em 0;
}

#main.detail #votes dd {
	margin: 0;
	overflow: auto;
	padding: 0;
	padding-bottom: 1em;
}

#main.detail #votes .description {
	float: left;
	width: 75%;
}

#main.detail #votes .description h3 {
	font-size: 1em;
	margin: 0;
}

#main.detail #votes .description p.action {
	color: #666;
	margin: 0;
}

#main.detail #votes .description p.result {
	color: #999;
	margin: 0;
}

#main.detail #votes .results {
	float: right;
	width: 25%;
}

#main.detail #votes .results span {
	display: block;
	float: left;
	width: 33%;
}

#main.detail #votes .results dt {
	color: #999;
}

#main.detail #votes .results dd {
	font-size: 1.2em;
}
/* @end Votes */
/* @end Detail */
