<!DOCTYPE html>
<!--[if lt IE 7]>      <html data-ng-app="catApp" data-ng-controller="catDetailsCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html data-ng-app="catApp" data-ng-controller="catDetailsCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html data-ng-app="catApp" data-ng-controller="catDetailsCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html data-ng-app="catApp" data-ng-controller="catDetailsCtrl" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Your Representative - Advocate</title>

<!-- TODO:  Handle Angular updating meta tags before and after late data load -->
<!--
	<meta itemprop="name" content="{{(repData.name || 'Your Representative name') + ' - Advocate'}}" data-ng-cloak>
	<meta property="og:title" content="{{(repData.name || 'Your Representative og:title') + ' - Advocate'}}" data-ng-cloak>
	<meta name="twitter:title" content="{{(repData.name || 'Your Representative twitter:title') + ' - Advocate'}}" data-ng-cloak>
-->
	<meta name="description" content="Redefining democracy.">
	<meta itemprop="description" content="Redefining democracy.">
	<meta property="og:description" content="Redefining democracy.">
	<meta name="twitter:description" content="Redefining democracy.">

	<meta property="og:site_name" content="Advocate">
	<meta property="og:type" content="website">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@JoinAdvocate">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="cleartype" content="on">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/theme.css">

	<link rel="apple-touch-icon" sizes="57x57" href="http://www.joinadvocate.com/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="http://www.joinadvocate.com/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://www.joinadvocate.com/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="http://www.joinadvocate.com/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://www.joinadvocate.com/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="http://www.joinadvocate.com/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://www.joinadvocate.com/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="http://www.joinadvocate.com/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="http://www.joinadvocate.com/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="http://www.joinadvocate.com/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://www.joinadvocate.com/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://www.joinadvocate.com/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="http://www.joinadvocate.com/img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#fd4848">
	<meta name="msapplication-TileImage" content="http://www.joinadvocate.com/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#fd4848">

<!-- TODO:  Need to update image paths for live site -->

	<meta itemprop="image" content="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">
	<meta name="image" content="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">
	<meta name="thumbnail" content="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">
	<meta name="og:image" content="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">
	<meta name="twitter:image" content="http://www.joinadvocate.com/img/favicon/favicon-96x96.png">

	<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
</head>
<body class="detail">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header>
		<div class="container">
			<section id="logo"><a href="/" title="Back to Home"><img src="img/advocate-logo@2x.png" alt="Advocate" width="153" height="25" /></a></section>
			<nav>
				<ul data-ng-cloak>
					<li class="{{(page.isUserRegistered()) ? 'thanks' : ''}}"><a href="about.html">About Us</a></li>
					<li data-ng-if="!page.isUserRegistered()"><a href="join.html" class="join button primary">Sign Up</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="map" class="fpo"></div>

	<aside class="location">
		<form id="loc" action="results.html" autocomplete="on">
			<label class="hidden" for="loc-location">In the meantime, enter your location<br /> to get to know your local representatives.</label>
			<fieldset>
				<button id="loc-current" class="current tooltip" type="button" value="current" title="Use your current location"></button>
				<input id="loc-location" class="location" name="loc-location" type="text" placeholder="Where do you live?" />
				<input id="loc-hidden" class="hidden" name="loc-hidden" type="hidden" />
				<input class="type" type="hidden" name="entry_type" value="Detail Location" id="entry_type" dir="auto" aria-label="Form Type" title="" />
				<button id="loc-submit" class="hidden" type="submit" value="Submit">Submit</button>
			</fieldset>
		</form>
	</aside>

	<div id="main" role="main" class="detail">
		<section id="address" data-ng-if="loaded" data-ng-cloak>



			<address class="vcard" data-ng-if="repData">

<!--				<div class="u-photo circle" style="background-image: url({{repData.photoUrl}})" title="Photo of {{repData.name}}"></div>-->

<!-- TODO:  Make sure initials appear when a rep's photo image is listed but does not load -->

				<div class="u-photo circle {{'r' + repData.random}}" style="{{(repData.photoUrl) ? 'background-image: url(' + repData.photoUrl + ')' : ''}}" title="Photo of {{repData.name}}"><span data-ng-if="!repData.photoUrl" data-ng-bind="repData.initials"></span></div>


				<a href="javascript:history.go(-1)" class="back">Back to list</a>

<!-- TODO:  Need to get the role -->

				<h1><!--<span class="p-role">Representative</span> --><span class="p-name" data-ng-bind="(repData.name || 'No representative found!')">No representative found!</span></h1>

				<p class="p-org" data-ng-if="!repData.name">We had trouble loading information about your representative.</p>
				<p class="p-org" data-ng-if="!repData.name">This is probably because we lost something along the way (and because this site is still in beta!).  Sorry about that.  Please <a href="javascript:history.go(-1)" class="back">go back</a> to select your representative again, or try again from the <a href="index.html">home page</a>.</p>

				<p class="p-org">
					<span data-ng-bind="repData.office.name"></span>
					<span class="p-category" data-ng-if="repData.party && repData.party != 'Unknown'" data-ng-bind="repData.party"></span>
					<span data-ng-bind="repData.division"></span>
				</p>

<!-- TODO:  Update the CTA per pending design -->

				<aside id="invite">
					<h2>Invite <span class="name" data-ng-bind="(repData.name || 'this representative')">this representative</span> to join Advocate</h2>
					<a class="invite button primary" href="invite.html">Invite</a>
				</aside>

				<dl>
					<span data-ng-repeat="url in repData.urls">
						<dt>Website</dt>
						<dd><a class="u-url" href="{{url}}" target="_blank" data-ng-bind="url"><!--www.gillibrand.house.gov--></a></dd>
					</span>

					<span data-ng-repeat="address in repData.address">
						<dt>Address</dt>
						<dd class="h-adr">
							<a class="secondary" href="http://maps.google.com/?q={{address.q}}" target="_blank">
								<span class="p-street-address" data-ng-bind="address.line1"></span>
								<span class="p-extended-address" data-ng-bind="address.line2"></span>
								<span class="p-locality" data-ng-bind="address.city + ', '"></span>
								<span class="p-region" data-ng-bind="address.state | uppercase"></span>
								<span class="p-postal-code" data-ng-bind="address.zip"></span>
							</a>
						</dd>
					</span>

					<span data-ng-repeat="phone in repData.phones">
						<dt>Phone</dt>
						<dd><a class="p-tel secondary" href="tel:{{phone}}" data-ng-bind="phone"></a></dd>
					</span>

					<span data-ng-if="repData.channels.length > 0">
						<dt>Connect</dt>
						<dd>
							<ul class="channels">
								<li data-ng-repeat="channel in repData.channels" data-ng-switch="channel.type | lowercase">
									<a data-ng-switch-when="facebook" class="u-url" href="https://www.facebook.com/{{channel.id}}" target="_blank"><i class="fa fa-{{channel.type | lowercase}}-square" title="{{channel.type}}"></i></a>
									<a data-ng-switch-when="twitter" class="u-url" href="https://www.twitter.com/{{channel.id}}" target="_blank"><i class="fa fa-{{channel.type | lowercase}}-square" title="{{channel.type}}"></i></a>
									<a data-ng-switch-when="youtube" class="u-url" href="https://www.youtube.com/{{channel.id}}" target="_blank"><i class="fa fa-{{channel.type | lowercase}}-square" title="{{channel.type}}"></i></a>
									<a data-ng-switch-when="googleplus" class="u-url" href="https://plus.google.com/{{channel.id}}" target="_blank"><i class="fa fa-google-plus-square" title="{{channel.type}}"></i></a>
								</li>
							</ul>
						</dd>
					</span>
				</dl>

			</address>

			<aside id="coming-soon">
				<h2>Coming soon</h2>
				<p>You will be able to follow updates and connect with <span class="name" data-ng-bind="(repData.name || 'your representatives')">your representatives</span> directly on Advocate.</p>
			</aside>

			<aside id="actions">
				<ul class="actions">
					<li>Politicians, <a class="claim" href="claim.html">get verified</a> to claim a page like this.</li>
<!--
					<li><a class="share secondary" href="share.html"><i class="fa fa-share-alt"></i><span>Share</span></a></li>
-->
					<li>
						<div class="addthis_sharing_toolbox"> </div><span>Share</span>
<!--
						<a class="share secondary" href="share.html"><i class="fa fa-share-alt"></i><span>Share</span></a>
-->
					</li>
				</ul>
			</aside>

		</section>
		<br /><br />
<!--
		<aside id="joinPromo">
			<p>Begin connecting with your local representatives and candidates.</p>
			<a class="join button primary" href="join.html">Join</a>
		</aside>
-->

		<section id="votes" data-ng-if="repData.votes.length > 0" data-ng-cloak>
			<h2><span class="name" data-ng-bind="repData.name">Your representative</span>'s latest votes</h2>
			<dl class="votes">
				<span data-ng-repeat="(key, vote) in repData.votes">
					<dt class="vote-date" data-ng-bind="vote.voted_at | date: 'longDate'"><!--September 9th, 2015--></dt>
					<dd class="vote" id="vote-{{key}}">
						<div class="description">
							<h3><a href="{{vote.url}}" class="vote-title" data-ng-bind="vote.question" target="_blank"><!--Hire More Heroes Act of 2015--></a></h3>
							<p class="action"><span class="short-role" data-ng-bind="repData.extended.title"><!--Sen--></span> <span class="last-name" data-ng-bind="repData.extended.last_name"><!--Gillibrand--></span> voted <span class="vote" data-ng-bind="vote.myVote"><!--Nay--></span>, as did <span class="vote-count-party" data-ng-bind="vote.breakdown.party[repData.extended.party][vote.myVote]"><!--40--></span> other <span data-ng-bind="'member' + ((vote.breakdown.party[repData.extended.party][vote.myVote] != 1) ? 's' : '')"></span> of <span class="pronoun" data-ng-bind="((repData.extended.gender == 'M') ? 'his' : 'her')"><!--her--></span> party.</p>
							<p class="result">
								<span class="vote-type" data-ng-bind="vote.result"><!--The Cloture Motion</span> <span class="vote-result">Rejected--></span> by a vote of <span class="vote-yea" data-ng-bind="vote.breakdown.total[0].count"><!--56--></span> voting Yea and <span class="vote-nay" data-ng-bind="vote.breakdown.total[1].count"><!--42--></span> voting Nay<br />
								(More than <span class="vote-required" data-ng-bind="vote.required"><!--3/5--></span> was required to pass.)
							</p>
						</div>
						<dl class="results">

<!-- TODO:  When voting on the speaker, and a very limited number of other votes, need to handle the other vote options. -->

							<span data-ng-repeat="(i, which) in vote.breakdown.total">
								<dt><span data-ng-bind="which.type"></span></dt>
								<dd class="vote-{{which.type.replace(' ', '-') | lowercase}}{{ ((vote.myVote == which.type) ? ' selected' : '') }}" data-ng-bind="which.count"></dd>
							</span>
						</dl>
					</dd>
				</span>
			</dl>
		</section>
	</div>
<!--
	<aside class="mobile" id="signUpPromo">
		<h2>Be a part of retooling democracy.</h2>
		<p>Sign up for our beta to connect with your local representatives and see how they are voting on the issues that impact you and your community.</p>
		<a href="join.html" class="join button primary">Join</a>
	</aside>
-->
	<footer>
		<div class="container">
			<p>Copyright &copy; 2015 by Advocate</p>
			<nav>
				<ul>
					<li><a href="about.html" class="mobile">About Us</a></li>
					<li><a target="_blank" href="https://angel.co/joinadvocate" class="a">AngelList</a></li>
					<li><a target="_blank" href="https://www.facebook.com/joinadvocate" class="fb">Facebook</a></li>
					<li><a target="_blank" href="https://twitter.com/joinadvocate" clas="t">Twitter</a></li>
					<li><a target="_blank" href="https://www.linkedin.com/company/advocate-llc" class="li">LinkedIn</a></li>
<!--					<li><a target="_blank" href="https://instagram.com/joinadvocate" class="i">Instagram</a></li>-->
					<li><a href="contact.html" class="contact">Contact Us</a></li>
				</ul>
			</nav>
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVqLHZ4NKXp8goalS25-YUqexpP2-JPn4"></script>

	<script src="js/plugins.js"></script>
	<script src="js/lib.js"></script>
	<script src="js/main.js"></script>
	<script src="js/catApp.js"></script>
	<script src="js/catCtrl.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","//www.google-analytics.com/analytics.js","ga");
//		ga("create", "UA-67525790-1", "auto");	// stage
		ga("create", "UA-67525790-2", "auto");	// prod
		ga("require", "linkid", "linkid.js");
		ga("send", "pageview");
	</script>
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:99162,hjsv:5};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56312dcbbdcd9202" async="async"></script>
	<script type="text/javascript" src="//wurfl.io/wurfl.js"></script>

</body>
</html>
